# 3P API's ##
#############
# Infura
INFURA_API_KEY=--
# Alchemy
ALCHEMY_ZK_API_URL=https://--
ALCHEMY_OPT_API_URL=https://--
ALCHEMY_OPT_PRIVATE_KEY=--
# Moralis
MORALIS_API_KEY=--
# Polygonscan
POLYGONSCAN_API_KEY=--
# Web3.Storage
WEB3_STORAGE_LOGIN=admin@--.--
WEB3_STORAGE_SPACE=did:key:--
###############

# Wallet for deploying contract
WALLET_PRIVATE_KEY=--
WALLET_PUBLIC_KEY=0x--

# Node/Next/Auth.js Stuff
APP_DOMAIN=nft.--.--
NEXTAUTH_URL=https://nft.--.--/
NEXTAUTH_SECRET=--

# Filesystem storage for NFT data
NFT_AVATAR_PATH=/home/--/www/---nft-0/avatars/
NFT_JSON_PATH=/home/--/www/---nft-0/NFTs/
NFT_IMAGE_FILEEXT=.png

# Database Information
PGSQL_HOST=--.--.--.--
PGSQL_PORT=5432
PGSQL_DATABASE=--
PGSQL_USER=--
PGSQL_PASSWORD=--

# OAuth Integration
OAUTH_WELLKNOWN=https://auth.--.--/.well-known/openid-configuration
OAUTH_REDIRECT_URI=https://nft.--.--/api/auth/callback/--
OAUTH_TOKEN_URI=https://auth.--.--/oauth2/token
OAUTH_USERINFO=https://auth.--.--/userinfo
OAUTH_CLIENTID=----
OAUTH_CLIENTSECRET=----

# Mailbox API
MAILBOX_CREATE_URL=https://mail.--.--/api/--.php
MAILBOX_CREATE_KEY=--

